body {
    background-image: url('képek/background_wood.jpg');
    background-attachment: fixed;
    background-position: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    opacity: 0.9;
    border-radius: 80%;
}

.nev {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 20%;
    color: black;
}

.magamrol_head {
    text-decoration: underline;
    text-align: center;
    width: 100%;
    border: fuchsia solid 2px;
    border-radius: 15px;
    background-color: fuchsia;
    color: white;
}

.magamrol_tart {
    width: 100%;
    color: fuchsia;
}

.tapasztalat_head {
    text-decoration: underline;
    text-align: center;
    width: 100%;
    border: green solid 2px;
    border-radius: 15px;
    background-color: green;
    color: white;
}

.tapasztalat_tart {
    width: 100%;
    color: green;
}

.tanulmanyok_head {
    text-decoration: underline;
    text-align: center;
    width: 100%;
    border: red solid 2px;
    border-radius: 15px;
    background-color: red;
    color: white;
}

.tanulmanyok_tart {
    width: 100%;
    color: red;
}

.nyelv_head {
    text-decoration: underline;
    text-align: center;
    width: 100%;
    border: yellow solid 2px;
    border-radius: 15px;
    background-color: yellow;
    color: black;
}

.nyelv_tart {
    width: 100%;
    color: yellow;
}

.skillek_head {
    text-decoration: underline;
    text-align: center;
    width: 100%;
    border: blueviolet solid 2px;
    border-radius: 15px;
    background-color: blueviolet;
    color: black;
}

.skillek_tart {
    width: 100%;
    color: blueviolet;
}

#main, #main2 {
    display: flex;
}

#mag {
    flex: 1 1 30%
}

#tap {
    flex: 1 1 40%;
}

#tan {
    flex: 1 1 30%;
}

#lang {
    flex: 1 1 45%;
}

#skills{
    flex: 1 1 55%;
}