.sor {
    display: flex;
    flex-direction: row;
}

.doboz {
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
}


.psor {
    display: flex;
    flex-direction: row;
}

.pdoboz {
    height: 30px;
    width: 30px;
    text-align: center;
    color: black;
}